header {
    height: 10vh;
    position: sticky;
    top: 0;
    z-index: 1;
    transition: height .2s ease-in-out;
}

.normal-height {
    height: 54px;
}

.go-top-button {
    position: fixed;
    right: 24px;
    bottom: 24px;
    width: 42px;
    height: 42px;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 4px;
    background-color: #fafafa;
    cursor: pointer;
    border: 1px solid #f2f2f2;
}

.shadow-header {
    box-shadow: 0 4px 12px -10px #bfbfbf;
}

.header-content {
    max-width: 1200px;
    height: 100%;
    margin: 0 auto;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.header-content-left {
    display: flex;
    align-items: center;
    height: 100%;
    flex-basis: 50%;
}

.header-content-right {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    height: 100%;
    flex-basis: 50%;
    column-gap: 8px;
}

.header-content-right a {
    display: flex;
    align-items: center;
    color: #000000;
    text-decoration: none;
    width: fit-content;
    transition: all .2s ease-in-out;
    opacity: 0.5;
}

.header-content-right a:hover {
    opacity: 1;
}

.header-button {
    border: 1px solid #f1f1f1;
    background: #fafafa;
    height: 24px;
    width: 24px;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    transition: all .2s ease-in-out;
    border-radius: 4px;
}

.header-button:hover {
    background: #f1f1f1;
}

.header-button svg {
    width: 24px;
    height: 24px;
}
