.welcome-section {
    /*background-image: linear-gradient(120deg, #fff, #000);*/
    padding: 50px 0;
    width: 100%;
    position: relative;
    overflow: hidden;
    display: flex;
    justify-content: center;
    align-items: center;
    /*border: 1px solid dodgerblue;*/
}

.hello-text-wrapper {
    /*background: #f2f2f2;*/
    /*padding: 24px;*/
}

.hello-text {
    font-size: 22px;
    font-weight: 500;

    /*background: #000;*/
    /*color: #00ff00;*/
}

.hello-text-create-apps {
    display: flex;
    column-gap: 4px;
    color: black;
}