.welcome-section {
    width: 100%;
    position: relative;
    overflow: hidden;
    display: flex;
    justify-content: center;
    align-items: flex-start;
    padding-top: 120px;
}

.hello-text-wrapper {
    /*background: #f2f2f2;*/
    /*padding: 24px;*/
}

.hello-title {
    font-size: 162px;
    font-weight: 500;
}

.hello-text {
    font-size: 42px;
    /*background: #000;*/
}

.hello-text-create-apps {
    display: flex;
    column-gap: 8px;
}