.our-apps {
    /*background: #000;*/
}

.app-preview {
    /*border: 2px solid deeppink;*/
    display: flex;
    max-width: 1200px;
    margin: 0 auto 120px auto;
    position: relative;
}

.app-preview h1 {
    color: deepskyblue;
    margin-bottom: 12px;
}

/**/
.app-description {
    min-height: 100vh;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
    padding-top: 120px;
}

.app-description p {
    border-radius: 12px;
    font-size: 18px;
    line-height: 1.2;
    margin-bottom: 12px;
}

.app-screenshots {
    /*border: 5px solid tomato;*/
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100%;
    position: sticky;
    top: 10vh;
}

.app-screenshots img {
    max-height: 500px;
    min-height: 400px;
    margin: 24px 0;
}
