body {
    margin: 0;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    color: #1D1D1F;
    font-size: 15px;
}

.app {
}

h1 {
    font-size: 48px;
}

h2 {
    font-size: 38px;
}

code {
    font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.centered-content {
    max-width: 1200px;
    margin: 0 auto;
    /*background: rgba(179, 0, 255, 0.04);*/
}

.border {
    border: 1px solid red;
}

.colored-title, .colored-title-black, .colored-title-blue {
    /*border: 1px solid deeppink;*/
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    width: fit-content;
}

.colored-title-black {
    background-image: linear-gradient(120deg, #000000 0%, #414040 51%, #000000 100%);
}

.colored-title {
    background-image: linear-gradient(120deg, #8e0fc0 0%, #d563ff 51%, #8e0fc0 100%);
    /*background-image: linear-gradient(116deg, #1093ff -7%, #b000f6 100%);*/
}

.colored-title-blue {
    background-image: linear-gradient(to right, #0095ff 0%, #12D8FA 51%, #0095ff 100%);
}

.justify-center {
    display: flex;
    justify-content: center;
}

.relative {
    position: relative;
}

.jumbotron {
    background: #f5f5f7;
}

.order2 {
    order: 2;
}

/****************************************/

.app {
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.app-content {
    flex-grow: 1;
}

.logo svg {
}

.welcome-section {
    padding: 50px 0;
    width: 100%;
    position: relative;
    overflow: hidden;
    display: flex;
    justify-content: center;
}

.hello-text-wrapper {
    margin-bottom: 12px;
}

.hello-text {
    font-size: 48px;
    font-family: monospace;
}

.welcome-apps-list {
    display: flex;
    align-items: center;
    justify-content: center;
    column-gap: 12px;
    background: #000;
    padding: 12px;
}

.welcome-apps-list h2 {
    color: #fff;
    font-size: 24px;
}

.item {
    border-radius: 12px;
}

.item p {
    border: 1px dashed #fff;
    border-radius: 4px;
    color: #fff;
    padding: 0 24px;
    font-size: 24px;
    font-family: monospace;
}

.space-video-container {
    max-height: 200px;
    overflow: hidden;
}

#space-video {
    width: 100%;
    background-image: url("./space1.png");
    background-position: center top;
}

/* SERVICES */
.services {
    padding: 120px 0;
}

.services-title {
    display: flex;
    justify-content: center;
    padding: 24px;
}

.services-list {
    display: flex;
    justify-content: center;
    align-items: center;
    column-gap: 24px;
}

.service {
    background-color: #f5f5f7;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 7px;
    padding: 4px;
    width: 140px;
    height: 140px;
}

.latest-apps {
    padding-top: 100px;
    width: 100%;
}

/**/
/**/
/* APPS PREVIEW*/
.app-preview {
    display: flex;
    max-width: 1200px;
    margin: 0 auto;
}

/**/
.app-description {
    min-height: 100%;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.app-description p {
    margin-top: 12px;
    border-radius: 12px;
    background: rgba(0, 0, 0, 0.02);
    padding: 24px;
    transform: rotate(-1deg);
    color: #6e6e73;
    font-size: 22px;
    line-height: 1.2;
}

.app-screenshots {
    /*border: 1px solid tomato;*/
    width: 100%;
    display: flex;
    justify-content: center;
}

.app-screenshots img {
    max-height: 500px;
    min-height: 400px;
    margin: 24px 0;
}

/******************************/
footer {
    background: #f1f4f7;
}

.footer-links-container {
    display: flex;
    column-gap: 10%;
    padding: 24px;
}

.footer-links {
    display: flex;
    flex-direction: column;
}

.footer-links h4 {
    margin-top: 0;
    margin-bottom: 12px;
}

.footer-links a {
    font-size: 12px;
    text-decoration: none;
    color: #1D1D1F;
    /*border: 1px solid deepskyblue;*/
    padding: 4px 0;
    margin-bottom: 4px;
}

.footer-links a:hover {
    opacity: 0.6;
}

.footer-copy-right {
    font-size: 12px;
    background: #fff;
    padding: 24px 12px;
}

/* width */
::-webkit-scrollbar {
    width: 4px;
    height: 8px;
}

/* Track */
::-webkit-scrollbar-track {
    background-color: #f2f2f2;
}

/* Handle */
::-webkit-scrollbar-thumb {
    background: rgb(6, 108, 224);
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
    background: rgba(107, 107, 107, 0.6);
}
